/* Selecionando a primeira letra apenas dos <p> que são filhos diretos de container */
.container > p:first-letter {
    font-size: 2.50rem;
    color: #3C1D3D;
    font-weight: bold;
    text-shadow: .025em .025em #000;
    margin-right: .05em;
    /* Evita que a linha de baixo fique muito distante */
    line-height: 1;
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA; /*8/16*/
    padding: 1.25em; /*20/16*/
    margin: 1.25em 2.5em; /*20/16 40/16*/
    width: 15.6em; /*250/16*/
    box-sizing: border-box;
    transition: .5s;
    position: relative;
}

.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 12rem;
    top: -.25em;
    color: #bbb;
}

.citacao-bio p {
    /* Posicionando o parágrafo atrás do elemento :before (o elemento :before deve estar com position absolute) */
    position: relative;
}

.citacao-bio:hover, .citacao-bio:focus {
    -webkit-box-shadow: 0 0 0 9999px rgba(0,0,0,.8);
    box-shadow: 0 0 0 9999px rgba(0,0,0,.8);
}

.citacao-bio:nth-of-type(odd):hover, .citacao-bio:nth-of-type(odd):focus {
    -webkit-transform: scale(1.2) rotate(10deg);
    -ms-transform: scale(1.2) rotate(10deg);
    transform: scale(1.2) rotate(10deg);
}

.citacao-bio:nth-of-type(even):hover, .citacao-bio:nth-of-type(even):focus {
    -webkit-transform: scale(1.2) rotate(-10deg);
    -ms-transform: scale(1.2) rotate(-10deg);
    transform: scale(1.2) rotate(-10deg);
}

/* Blockquotes ímpares terão este estilo */
blockquote:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

/* Blockquotes pares terão este estilo */
blockquote:nth-of-type(even) {
    float: left;
    margin-left: 0;
}
