.leia-mais {
    display: block;
    font-size: 1.5rem; /*24/16*/
    padding: .333em; /*8/24*/
    margin: .666em 0; /*16/24*/
    text-align: center;
    background-color: #E6E7E8;
}

.post-blog {
    padding-bottom: 1.88em; /*30/16*/
    margin-bottom: 1.25em; /*20/16*/
}

/* Eliminando a borda superior do primeiro post */
.post-blog + .post-blog {
    background-image: linear-gradient(
                      to right,
                      rgba(200,200,200,0),
                      rgba(200,200,200,1),
                      rgba(200,200,200,0)
                      );
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% .063em;
    padding-top: 2.5em;
}

.tags {
	font-size: 1rem; /*16/16*/
}
