* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #673AB7;
    padding: 30px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 70px;
    background-color: #fff;
}

.botao {
    width: 100px;
    height: 20px;
    background-color: #fff;
    display: inline-block;
}
