/* start Index Global Elements */

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    -webkit-perspective: 6px;
    -moz-perspective: 6px;
    -ms-perspective: 6px;
    perspective: 6px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective-origin: 50% 160px;
    -moz-perspective-origin: 50% 160px;
    -ms-perspective-origin: 50% 160px;
    perspective-origin: 50% 160px;
}

header {
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

main {
    width: 100%;
}

.main-index {
    margin: 0 auto;
    float: none;
    padding-bottom: 0;
}

.container-sessoes-index {
    text-align: center;
    width: 1440px;
    margin: 0 auto;
    padding: 3.12em 0 6.5em; /*50/16 120/16*/
}

.titulo-sessoes-index {
    font-size: 3.75rem; /*60/16*/
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: .666em; /*40/60*/
}

.titulo-sessoes-index, .titulo-principal h1 {
    text-shadow: .05em .083em #000;
}

.botao-index {
    font-size: 1.15rem;
    background-color: #851944;
    color: #FFF;
    border: .25em solid black;
    padding: .625em 5em;
    display: inline-block;
    text-align: center;
    margin-top: 3.12em;
    -webkit-box-shadow: 0 0 1.1em rgba(0,0,0,.4), inset 0 0 1.1em rgba(255,255,255,.4);
    box-shadow: 0 0 1.1em rgba(0,0,0,.4), inset 0 0 1.1em rgba(255,255,255,.4);
}


/* start Banner Twitter */
.banner-twitter {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #3C1D3D;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding: 1em 5em;
    border: .2em solid #000;
    display: inline-block;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate(160px, -60px) rotate(45deg);
    -ms-transform: translate(160px, -60px) rotate(45deg);
    transform: translate(160px, -60px) rotate(45deg);
}


/* start Header */

.foto-home {
    height: 200px;
    -webkit-border-radius: 10% 50% / 50% 10%;
    -moz-border-radius: 10% 50% / 50% 10%;
    -ms-border-radius: 10% 50% / 50% 10%;
    -o-border-radius: 10% 50% / 50% 10%;
    border-radius: 10% 50% / 50% 10%;
    -webkit-box-shadow: 0 0 .333em rgba(0,0,0,0.4);
    box-shadow: 0 0 .333em rgba(0,0,0,0.4);
}

.titulo-principal h2 {
    font-size: .333em; /*20/60*/
}



/* start Saudação */
.saudacao-inicio {
    color: #889;
    font-size: 5rem; /*80/16*/
}

.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.62rem; /*26/16*/
}

.saudacao strong {
    color: #000;
    font-size: 3.12rem; /*50/16*/
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao-ultima-linha em {
    color: #851944;
    font-size: 6.65rem; /*100/16*/
    -webkit-transform: rotate(-10deg) skew(-10deg);
    -ms-transform: rotate(-10deg) skew(-10deg);
    transform: rotate(-10deg) skew(-10deg);
    display: inline-block;
}



/* start Trabalhos */

.trabalhos {
    background-color: #3C1D3D;
    border-top: .625em solid #000; /*10/16*/
    border-bottom: .625em solid #000; /*10/16*/
    width: 100%;
}

.trabalhos ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: .625em solid black; /*10/16*/
}

.trabalhos li {
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}



/* start Blog */

.titulo-blog {
    padding-bottom: 0;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .625em solid #851944;
    position: relative;
}

.post-destaque-index {
    position: absolute;
    right: 25em;
    top: 8.5em;
    width: 37em;
    padding: 1em 1em 3em;
    background-color: #fff;
    color: #000;
}

.blog p {
    margin-top: -0.5em;
}

.blog-listagem-post-mais-recente {
    background-color: #fff;
    display: inline-block;
    padding: .625em 5em .625em .625em;
}

.blog-listagem-home {
    text-align: left;
    margin-top: 3.12em;
}

.blog-listagem-home li {
    margin-bottom: .937em;
}

.blog-listagem-home a {
    color: #FCF;
    font-size: 1.5rem;
}



/* start Rodapé*/

.rodape-index {
    padding: 2.5em 0;
    position: static;
    background-color: #000;
    color: #fff;
    background-image: none;
}

.container-rodape-index {
    width: 1440px;
    margin: 0 auto;
}

.titulo-rodape-index {
    font-size: 3.75em;
}

.rodape-index a {
    color: #F99;
}
