header {
    position: relative;
}

.palavras-home {
    -webkit-perspective: 6px;
    -moz-perspective: 6px;
    -ms-perspective: 6px;
    perspective: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.palavra-home {
    position: absolute;
    top: 10%;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    font-size: 400%;
    color: #D5447E;
}

.agilidade, .acessibilidade, .codigo-limpo {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.responsivo, .css3, .boas-praticas {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.javascript, .design, .otimizacoes {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.html5, .eficiencia {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.agilidade {
    left: 39%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%) rotate(9deg) translateZ(1px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(9deg) translateZ(1px) scale(.15);
    transform: translate(-50%, -50%) rotate(9deg) translateZ(1px) scale(.15);
}

.responsivo {
    top: 20%;
    left: 11%;
    -webkit-transform: scale(.15);
    -ms-transform: scale(.15);
    transform: scale(.15);
}

.acessibilidade {
    left: 10%;
    -webkit-transform: translate(-50%, -50%) rotate(8deg) translateZ(-1px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(8deg) translateZ(-1px) scale(.15);
    transform: translate(-50%, -50%) rotate(8deg) translateZ(-1px) scale(.15);
}

.codigo-limpo {
    top: 48%;
    left: 31%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(.15);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(2px) scale(.15);
}

.css3 {
    top: 30%;
    left: 10%;
    -webkit-transform: scale(.15);
    -ms-transform: scale(.15);
    transform: scale(.15);
}

.boas-praticas {
    top: -22%;
    left: 2%;
    -webkit-transform: scale(.15);
    -ms-transform: scale(.15);
    transform: scale(.15);
}

.javascript {
    left: 62%;
    top: 15%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg) translateZ(-1px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(-10deg) translateZ(-1px) scale(.15);
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(-1px) scale(.15);
}

.eficiencia {
    top: 50%;
    left: 71%;
    -webkit-transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(.15);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(2px) scale(.15);
}

.design {
    top: 30%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(.15);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(.15);
}

.html5 {
    top: 49%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) rotate(15deg) translateZ(2px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(15deg) translateZ(2px) scale(.15);
    transform: translate(-50%, -50%) rotate(15deg) translateZ(2px) scale(.15);
}

.otimizacoes {
    top: 75%;
    left: 67%;
    -webkit-transform: translate(-50%, -50%) rotate(-12deg) translateZ(1px) scale(.15);
    -ms-transform: translate(-50%, -50%) rotate(-12deg) translateZ(1px) scale(.15);
    transform: translate(-50%, -50%) rotate(-12deg) translateZ(1px) scale(.15);
}
