/* start Index Global Elements */

main {
    width: 100%;
}

.main-index {
    margin: 0 auto;
    float: none;
    /*padding: 4.38em 0; */
}

.container-sessoes-index {
    text-align: center;
    width: 1440px;
    margin: 0 auto;
    padding: 3.12em 0 6.5em; /*50/16 120/16*/
}

.titulo-sessoes-index {
    font-size: 3.75rem; /*60/16*/
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: .666em; /*40/60*/
}

.botao-index {
    font-size: 1.15rem;
    background-color: #851944;
    color: #FFF;
    border: .25em solid black;
    padding: .625em 5em;
    display: inline-block;
    text-align: center;
    margin-top: 3.12em;
}



/* start Header */

.foto-home {
    height: 200px;
}

.titulo-principal h2 {
    font-size: .333em; /*20/60*/
}



/* start Saudação */

.saudacao-inicio {
    color: #889;
    font-size: 5rem; /*80/16*/
}

.saudacao p {
    color: #99A;
    line-height: 1;
    font-size: 1.62rem; /*26/16*/
}

.saudacao strong {
    color: #000;
    font-size: 3.12rem; /*50/16*/
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao-ultima-linha em {
    color: #851944;
    font-size: 6.65rem; /*100/16*/
}



/* start Trabalhos */

.trabalhos {
    background-color: #3C1D3D;
    border-top: .625em solid #000; /*10/16*/
    border-bottom: .625em solid #000; /*10/16*/
    width: 100%;
}

.trabalhos ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border: .625em solid black; /*10/16*/
}

.trabalhos li {
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}



/* start Blog */

.titulo-blog {
    padding-bottom: 0;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .625em solid #851944; /*10px*/
}

.blog p {
    margin-top: -0.5em;
}

.blog-listagem-home {
    text-align: left;
    margin-top: 3.12em; /*50px*/
}

.blog-listagem-home li {
    margin-bottom: .937em; /*15px*/
}

.blog-listagem-home a {
    color: #FCF;
    font-size: 1.5rem; /*24px*/
}
















footer {
    background-color: #000;
    color: #FFF;
}

footer a {
    color: #F99;
}

