header {
    position: relative;
}

.palavra-home {
    position: absolute;
    top: 10%;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    color: rgba(255,255,255,.5);
}

.agilidade, .acessibilidade, .codigo-limpo {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.responsivo, .css3, .boas-praticas {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.javascript, .design, .otimizacoes {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.html5, .eficiencia {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.agilidade {
    left: 35%;
    top: 30%;
}

.responsivo {
    top: 20%;
    left: 15%;
}

.acessibilidade {
    left: 25%;
}

.codigo-limpo {
    top: 45%;
    left: 19%;
}

.css3 {
    top: 60%;
    left: 30%;
}

.boas-praticas {
    top: 75%;
    left: 15%;
}

.javascript {
    right: 35%;
}

.eficiencia {
    top: 55%;
    right: 15%;
}

.design {
    top: 30%;
    right: 25%;
}

.html5 {
    top: 45%;
    right: 35%;
}

.otimizacoes {
    top: 75%;
    right: 25%;
}
