:root {
    font-size: 100%; /*16*/
}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.container {
    width: 45rem; /*720/16*/
    margin-left: auto;
    margin-right: auto;
    padding: 1.88em 0; /*30/16*/
}

h1, h2,
.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
    text-transform: uppercase;
}

.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    font-size: 3.75rem; /*60/16*/
    border-bottom: .133em solid #000; /*8/60*/
    padding: .5em; /*30/60*/
}

.subtitulo-texto {
    font-size: 1.88rem; /*30/20*/
    clear: both;
}

main a {
    color: #851944;
}

main p {
    text-align: justify;
    font-size: 1.25rem; /*20/16*/
    margin: 1em 0; /*20/20*/
}

.navegacao-site {
    width: 14%;
    float: right;
    position: relative;
    top: 308px;
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em; /*16/16*/
}

.minha-foto,
.navegacao-site {
    border-left: 0.5em solid black; /*8/16*/
    border-bottom: 0.5em solid black; /*8/16*/
    box-sizing: border-box;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 0;
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1 {
    font-size: 1.88rem; /*30/16*/
}

.navegacao-site nav {
    margin: .833em 0; /*25/30*/
}

.rodape-pagina {
    background-color: rgba(0,0,0,.2);
    color: #000;
    padding: 1.25em; /*20/16*/
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

main {
    width: 86%;
    float: left;
    padding-bottom: 5em; /*80/16*/
}
