* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 120%;
	line-height: 1.5;
}

.container {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 0 80px;
}

main {
	float: left;
	width: 85%;
}

a {
	text-decoration: none;
}

p {
	margin: 20px 0;
}

strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

h1, 
h2,
a {
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	font-size: 30px;
	clear: both;
}

.titulo-da-pagina {
	text-align: center;
	font-size: 60px;
	background-color: var(--roxo-joao);
	color: #fff;
	padding: 20px;
	border-bottom: 10px solid #000;
	text-transform: uppercase;
}

.navegacao-site, 
.img-joao {
	float: right;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.img-joao {
    position: absolute;
    right: 0px;
    top: 0;
}

.navegacao-site {
	background-color: var(--roxo-joao);
	color: #fff;
	text-align: center;
	padding: 30px 0;
	position: relative;
    top: 310px;
    width: 15%;
}

.navegacao-site a {
	color: inherit;
	text-transform: lowercase;
}

.navegacao-site h1 {
	font-size: 25px;
}

.icones-sociais {
	margin-top: 20px;
}

.icones-sociais li {
	display: inline-block;
}

.icones-sociais a {
	display: inline-block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}

.link-github {
	background-image: url(../img/github.png);
}

.link-twitter {
	background-image: url(../img/twitter.png);
}

.link-linkedin {
	background-image: url(../img/linkedin.png);
}

.footer {
	background-color: #000;
	color: #fff;
	clear: both;
	padding: 20px 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer p {
	margin: 0;
}